USE [Tests]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENT](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] NOT NULL,
	[DEPARTAMENT_ID] [int] NULL,
	[CHIEF_ID] [int] NOT NULL,
	[NAME] [nvarchar](10) NOT NULL,
	[SALARY] [int] NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DEPARTAMENT] ([ID], [NAME]) VALUES (0, N'ГОС-1')
INSERT [dbo].[DEPARTAMENT] ([ID], [NAME]) VALUES (1, N'ГОС-2')
INSERT [dbo].[DEPARTAMENT] ([ID], [NAME]) VALUES (2, N'ГОС-3')
GO
INSERT [dbo].[EMPLOYEE] ([ID], [DEPARTAMENT_ID], [CHIEF_ID], [NAME], [SALARY]) VALUES (0, 0, 0, N'Алексей', 2500)
INSERT [dbo].[EMPLOYEE] ([ID], [DEPARTAMENT_ID], [CHIEF_ID], [NAME], [SALARY]) VALUES (1, 0, 0, N'Валерий', 1000)
INSERT [dbo].[EMPLOYEE] ([ID], [DEPARTAMENT_ID], [CHIEF_ID], [NAME], [SALARY]) VALUES (2, 0, 0, N'Александра', 800)
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_DEPARTAMENT] FOREIGN KEY([DEPARTAMENT_ID])
REFERENCES [dbo].[DEPARTAMENT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_DEPARTAMENT]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_EMPLOYEE] FOREIGN KEY([CHIEF_ID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_EMPLOYEE]
GO
